.container {
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  color: var(--text-h);
  width: 100%;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .toolsSection {
    min-width: 450px;
    width: 450px;
  }
  .tableSection {
    width: 100%;
    margin-left: 20px;
  }
}
