.categorySection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dateSection,
.searchSection,
.typeSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.filtersContainer {
  border-radius: 8px;
  background: var(--accent-bg-alt);
  padding: 20px;
}

.categoryCard,
.typeBtn,
.resetBtn,
.settingsButton {
  height: 45px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--accent-border);
  background: var(--accent-bg);
  box-shadow: 0 2px 8px var(--shadow);
  color: var(--text-h);
  transition: all 0.2s ease;
  min-width: 45px;
}

.resetBtn {
  background: var(--alert);
  color: var(--text-l);
}

.categoryCard:hover,
.typeBtn:hover,
.resetBtn:hover {
  filter: brightness(1.1);
}

.categoryCardActive,
.incomeBtnActive,
.expenseBtnActive {
  background: transparent;
  border: 2px solid var(--accent-border);
  box-shadow: none;
}

.inputField,
.searchInput {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--bg);
  box-shadow: inset 0px 2px 4px var(--shadow);
  font-size: 14px;
  width: 140px;
  outline: none;
}

.searchInput {
  flex: 1;
}

.categoryList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
