.container {
  display: flex;
  justify-content: space-around;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  text-align: center;
}

.label {
  color: var(--text-h);
  margin: 0;
}

.value {
  margin: 5px 0;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.totalPositive {
  color: var(--text-h);
}

.totalNegative {
  color: red;
}

.centerBlock {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 0 40px;
}
