.filtersContainer {
  margin-top: 10px;
  border-radius: 8px;
  background: var(--accent-bg-alt);
  padding: 20px;
}

/* Секция категорий */
.categoryList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.categoryCard {
  /* padding: 10px; */
  cursor: pointer;
  /* display: flex;
  align-items: center; */
  gap: 8px;
  transition: 0.2s;
}

/* Секция дат */
.dateSection {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--accent-border);
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  background: var(--accent-bg-alt);
}

.dateGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputField {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid var(--border);
  box-shadow: inset 0px 2px 2px var(--shadow);
}

/* Поиск */
.searchWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.searchInput {
  flex: 1;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 14px;
  box-shadow: inset 0px 2px 2px var(--shadow);
}

/* Тип транзакции */
.typeSection {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

.typeBtn {
  /* padding: 10px 10px; */
  color: var(--text-h);
  /* cursor: pointer; */
  transition: 0.2s;
  min-width: 120px;
}

.resetBtn {
  /* border: none; */
  /* background: none; */
  color: #007bff;
  /* cursor: pointer; */
  font-size: 0.9rem;
}

.settingsButton {
  /* padding: 6px 10px; */
  /* cursor: pointer; */
  font-size: 1.2rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* transition: all 0.2s ease; */
}

.iconSvg {
  height: 24px;
  width: 24px;
  color: var(--text);
  transition: color 0.3s ease;
  &:hover {
    color: var(--accent);
  }
}
.resetBtn,
.typeBtn,
.settingsButton,
.categoryCard {
  height: 45px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--accent-border);
  background: var(--accent-bg);
  box-shadow: 0 2px 8px var(--shadow);
  color: var(--text-h);

  transition: all 0.2s ease;
}

.incomeBtnActive {
  border: 2px solid var(--accent-border);
}
.expenseBtnActive {
  border: 2px solid var(--accent-border);
}

.categoryCardActive,
.incomeBtnActive,
.expenseBtnActive {
  background: transparent;
  box-shadow: 0 2px 8px var(--shadow);
}
