.tableContainer {
  margin-top: 10px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.deleteBtn {
  background: #913234;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.deleteBtn:hover {
  opacity: 0.8;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headRow {
  border-bottom: 2px solid var(--border);
  text-align: left;
  height: 45px;
}

.row {
  border-bottom: 1px solid var(--border);
  transition: background 0.2s;
}

.rowSelected {
  background-color: var(--bg);
}

.cell {
  padding: 5px 5px;
}

.amount {
  font-weight: bold;
}

.expense {
  color: red;
}

.income {
  color: green;
}

.editBtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.checkboxCell {
  width: 20px;
}
