.formContainer {
  background: var(--accent-bg-alt);
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid var(--border);
}

.title {
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--text-h);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Стили для всех полей ввода и селектов */
.field {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 2px 2px var(--shadow);
}

.submitBtn {
  background-color: var(--accent);
  color: white;
  border: 1px solid var(--accent-border);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
  height: 45px;
  box-shadow: 0 2px 8px var(--shadow);
}

.submitBtn:hover {
  background-color: var(--accent-hover);
}

.cancelBtn {
  margin-left: 10px;
  background-color: var(--accent-bg-alt);
  border: 1px solid var(--accent-border);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text-h);
  height: 45px;
  box-shadow: 0 2px 8px var(--shadow);
}

.cancelBtn:hover {
  opacity: 0.8;
}
