.tableContainer {
  margin-top: 10px;
  /* padding: 12px 8px; */
  width: 100%;
  overflow-x: auto; /* скролл только таблици внутри экрана */
  -webkit-overflow-scrolling: touch; /* Плавный скролл на iPhone */
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  /* Укажи минимальную ширину, при которой таблица всё еще выглядит хорошо */
  min-width: 430px;
}

.tableContainer tr:nth-child(even) {
  background-color: var(--social-bg);
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  position: sticky;
  left: 0;
  z-index: 3;
}

.deleteBtn {
  background: #913234;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.deleteBtn:hover {
  opacity: 0.8;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headRow {
  border-bottom: 2px solid var(--border);
  text-align: left;
  height: 45px;
  background-color: var(--social-bg);
}

.row {
  border-bottom: 1px solid var(--border);
  transition: background 0.2s;
}

.rowSelected {
  background-color: var(--bg);
}

.cell {
  padding: 5px 5px;
}

.amount {
  font-weight: bold;
}

.expense {
  color: red;
}

.income {
  color: green;
}

.editBtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.checkboxCell {
  width: 20px;
}

/* Фиксмруем первый и второй столбцы */
/* Фиксируем первую колонку (Чекбокс) */
.tableContainer th:first-child,
.tableContainer td:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
  background: var(--bg);
}
/* Фиксируем вторую колонку (Сумма) */
.tableContainer th:nth-child(2),
.tableContainer td:nth-child(2) {
  position: sticky;
  left: 20px;
  z-index: 3;
  background: var(--bg);
  box-shadow: 2px 0 5px -1px rgba(0, 0, 0, 0.1);
}

.tableContainer th:first-child,
.tableContainer th:nth-child(2) {
  z-index: 4;
  background-color: var(--social-bg);
}

/* Чтобы "зебра" не пропадала на зафиксированных ячейках */
.tableContainer tr:nth-child(even) td:first-child,
.tableContainer tr:nth-child(even) td:nth-child(2) {
  background-color: var(--social-bg);
}
